/* GLOBAL */

:root {
    --grayglobal: #303030;
    --orange: #FF6C00;
    --white: #FFFFFF;
    --graylight: #9DA4BD;
    --gray: rgba(157, 164, 189, 0.60);
    --sectionbackground: #F7F7F7;
    --grayok: #555;
    --shift: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--grayglobal);
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    color: var(--grayglobal);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li {
    list-style: none;
}

img {
    display: block;
}

.section {
    justify-content: center;
}

.link:focus,
.link:hover {
    color: var(--orange);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER AND HERO(FIRST) SECTION */

.hero-container {
    display: flex;
}

.hero-sidekick {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
}

.hero-logo-link {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 22px;
    margin-right: 24px;
}

.hero-social-links {
    display: flex;
    align-items: center;
    gap: 40px;
    rotate: -90deg;
    list-style-type: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.2px;
    translate: 50%;
    transform-origin: left;
    padding: 0;
}

.hero-social-links::before {
    content: '';
    height: 1px;
    width: 60px;
    flex-shrink: 0;
    background: var(--grayglobal);
}

.hero-content {
    position: relative;
    flex-grow: 1;
    background-image: url('../images/background_first.jpg');
    background-size: cover;
    padding: 40px 20px 49px 100px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    color: var(--white);

}

.nav-ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.hero-header a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts .header-booking {
    border: 1px solid var(--color-accent);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 20px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.single-slide {
    list-style-type: none;
    color: var(--color-neutral-mid);
}

.h-barbershop {
    margin-block: 20px;
    color: var(--white);
    font-weight: 700;
    font-size: 72px;
    font-family: var(--font-heading);
    letter-spacing: 3.6px;
    line-height: 1.18;
}

.hero-tagline {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin-block-start: 192px;
    color: var(--gray);
}

.hero-description {
    margin-block-end: 208px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    white-space: pre-line;
    color: var(--graylight);
}

.hero-slide-navigation {
    position: absolute;
    inset: auto 20px 40px auto;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3636363636363635;
}

.button {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--orange);
    cursor: pointer;
    color: var(--white);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 250ms;
    position: relative;
    overflow: hidden;
}

.button:hover {
    background-color: var(--orange);
}


.button-back {
    background-color: transparent;
    border: none;
    color: var(--gray);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1.1px;
    text-align: start;
    border-bottom: 1px solid var(--gray);
    width: 60px;
    padding-bottom: 8px;
    transition: color 250ms;
}

.button-forward {
    background-color: transparent;
    border: none;
    color: var(--gray);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1.1px;
    border-bottom: 1px solid var(--gray);
    width: 60px;
    text-align: end;
    padding-bottom: 8px;
}

.button-forward:hover,
.button-forward:focus {
    color:var(--white);
    border-bottom-color: var(--white);
}

.button-back:hover,
.button-back:focus {
    color: var(--white);
    border-bottom-color: var(--white);
}

/* SECOND SECTION */

.second-container {
    display: flex;
    margin-bottom: 120px;
    margin-top: 120px;
    position: relative;
    gap: 30px;
}
.ul-sec-section {
    display: flex;
    gap: 30px;
}

.sec-btn {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--orange);
    cursor: pointer;
    color: var(--grayglobal);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 250ms;
    position: relative;
    overflow: hidden;
}

.animation-p {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(171, 171, 169, 0.4654236694677871) 100%);
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    position: absolute;
    transform: translateY(100%);
    transition: 250ms;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-div {
    position: relative;
    width: 270px;
    height: 445px;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-imgs {
    cursor: pointer;
}

.li-imgs:hover .animation-p {
    opacity: 1;
    top: 0;
    transform: translateY(0%);
}


.p-about {
    color: var(--grayglobal);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.p-about::before {
    content: '';
    height: 1px;
    width: 60px;
    flex-shrink: 0;
    background: var(--grayglobal);
}

.hr-and-p {
    display: flex;
    margin-left: 110px;
    gap: 20px;
    align-items: center;
}

.heading-two {
    color: #303030;
    font-family: "Raleway";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;
    width: 470px;
    padding-bottom: 20px;
}

.p-sec-section {
    color: var(--grayok);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    padding-bottom: 20px;
}

.sec-p-sec-section {
    color: var(--grayok);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.28px;
    width: 470px;
    padding-bottom: 42px;
}


/* THIRD SECTION */

.third-section {
    background-color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(12, 12, 12, 0.7)), url(../images/background_thirdsec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 692px;
    max-width: 1440px;
    background-position: center;
    margin: auto;
    margin-bottom: 120px;
    padding-top: 120px;
}

.third-container {
    align-items: center;
    justify-content: center;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-p-third-section {
    color: rgba(157, 164, 189, 0.60);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.heading-three {
    color: var(--white);
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;
    padding-bottom: 44px;
}

.lists {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.price-list {
    background: linear-gradient(180deg, #090B13 0%, rgba(15, 18, 31, 0.2) 100%);
}
/*
.price-li {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.price-list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 44px;
    width: 570px;
    height: 240px;
}

.start-price {
    text-align: start;
}

.end-price {
    text-align: end;
    align-items: end;
}

.span-price {
    color: var(--graylight);
    padding-bottom: 20px;
}

.btn-three {
    justify-content: center;
    align-items: center;
}

/* FOURTH SECTION */
.fourth-container {
    display: flex;
}

.statistics {
    width: 500px;
}

.statistics-ul {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fourth-li {
    width: 170px;
    height: 133px;
    flex-shrink: 0;
    text-align: center;
    background: #F7F7F7;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.fourth-li:nth-child(1) {
    margin-top: -40px;
}

.fourth-li:nth-child(3) {
    margin-top: -40px;
}

.plus {
    color: #FF6C00;
    width: 13px;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.numbers {
    color: #303030;
    text-align: center;
    font-family: Open Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 2.1px;
    padding-top: 20px;
}

.fourth-li-p {
    color: #303030;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
}

.fourth-div {
    padding-left: 130px;
}

.oldtraditional {
    color: var(--grayglobal);
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.heading-fourth {
    color: var(--grayglobal);
    font-family: 'Raleway';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;
    width: 430px;
    margin-bottom: 20px;
}

.p-fourth-div {
    color: var(--grayok);
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    width: 500px;
}

/* FIVTH SECTION */

.fifth-section {
    background: #F7F7F7;
}

.fifth-sec-p {
    color: #303030;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
    padding-top: 120px;
}

.heading-five {
    color: #303030;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;
    margin-bottom: 44px;
}

.barbers {
    display: flex;
    gap: 32px;
}

.heading-barbers {
    color: #303030;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin-top: 30px;
}

.extreme-barbers {
    color: #FF6C00;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.28px;
    margin-bottom: 30px;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 120px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li {
    display: flex;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white);
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.social-svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-socials:hover,
.a-socials:focus {
    fill: var(--orange);
}

/* SIXTH SECTION */

.sixth-sec-p {
    color: #303030;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    padding-top: 120px;
    padding-bottom: 44px;
}

.sixth-sec-p::before {
    content: '';
    height: 1px;
    width: 60px;
    flex-shrink: 0;
    background: var(--grayglobal);
}

.imgs-ul {
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
}

.imgs-li {
    flex-basis: calc((100% -120px) / 4);
}

/* SEVENTH SECTION */

.seventh-container {
    display: flex;
}

.heading-seven {
    color: var(--white);
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;
    margin-bottom: 44px;
}
/*
.seventh-section {
    background: url('/images/background_seventh.jpg'), lightgray -170.29px 0px / 123.004% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    height: 630px;
    width: 1600px;
    justify-content: center;
    align-items: center;
    margin: auto;

}*/

.online-booking-div {
    width: 785px;
    height: 630px;
    background-color: #111319;
    padding-top: 120px;
    padding-left: 100px;
}

.form-online-booking {
    width: 28rem;
    margin: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
}

.label {
    display: block;
    margin-bottom: 1.75rem;
    position: relative;
}

.label:focus-within > .label-span,
.input:not(:placeholder-shown) + .label-span {
    font-size: 0.75rem;
        letter-spacing: 0.01rem;
        color: var(--white);
        transform: translate(-1.5rem, -2.3rem);
}

.input {
    width: 100%;
    height: 2.5rem;
    padding: 1rem 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--gray);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.input:focus,
.input:hover,
.input:active {
    border-bottom: 1px solid var(--white);
}

.label-span {
    color: var(--gray);
    position: absolute;
    top: 50%;
    left: 2.625rem;
    transform: translateY(-50%);
    transition: var(--shift);
    font-family: 'Open Sans';
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.inline-form {
    display: flex;
    gap: 30px;
}

.mess-btn {
    flex-direction: column;
}

.textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--gray);
    resize: none;
}

.textarea:active {
    border-color: transparent;
}

.btn-order {
    padding: 12px 38px;
    border-radius: 25px;
    border: 1px solid var(--orange);
    background-color: transparent;
    color: var(--white);
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.contacts-div {
    background-image: linear-gradient(rgba(13, 16, 26, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background_seventh.jpg');
    background-repeat: no-repeat;
    width: 785px;
    height: 630px;
    padding-left: 100px;
    padding-top: 120px;
}

.contacts-ul {
    align-items: center;
}


.contacts-li {
    display: flex;
    align-items: center;
}

.customers-a {
    display: flex;
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.customers-icons {
    margin-right: 10px;
    align-items: center;
}

.customers-p {
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin-bottom: 20px;
}

.customers-p-loc {
    color: #9DA4BD;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.36px;
    width: 172px;
    margin-bottom: 20px;
}

.working-hours {
    color: rgba(157, 164, 189, 0.60);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 20px;
}

.working-h {
    color: #9DA4BD;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.working-h::before {
    content: '';
    height: 1px;
    width: 60px;
    flex-shrink: 0;
    background: var(--grayglobal);
}

/* FOOTER */

.footer-container {
    display: flex;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 215px;
}

.socials-footer {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    align-items: center;
}

.socials-footer::before {
    content: '';
    height: 1px;
    width: 60px;
    flex-shrink: 0;
    background: var(--grayglobal);
}

.a-footer {
    color: var(--grayglobal);
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 2.2px;
}


.copy {
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 2.2px;
}
